*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 750px;
    width: 100%;
    /*height: 100vh;*/
    margin: 0 auto;
    background: -webkit-linear-gradient(#3154c1, #2c57d6); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#3154c1, #2c57d6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#3154c1, #2c57d6); /* Firefox 3.6 - 15 */
    background: linear-gradient(#3154c1, #2c57d6); /* 标准的语法 */
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
.step_1{

}
.header{
    max-width: 100%;
    width: 100%;
    height: 185px;
    padding-top: 23px;
    background: url("../images/header.png") no-repeat center 23px;
    background-size: 100%;
}
.logo{
    margin: 0 auto;
    margin-top: -9px;
    width: 135px;
    height: 31px;
}
.logo img{
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.title{
    margin-top: 14px;
}
.title h1,.title h2{
    font-family: jcusong;
    color:#f8fcff;
}
.title h1{
    text-align: center;
    font-size: 36px;
}
.title h2{
    text-align: center;
    font-size: 24px;
    margin-top: 13px;
}
@font-face {
    font-family: 'jcusong';
    src: url('../font/jcusong.ttf') format('truetype')/* Safari, Android, iOS */
}
.container{
    position: relative;
    width: 100%;
    background: url("../images/main_bg2.png") no-repeat center bottom;
    background-size: 100%;
}
.main{
    position: relative;
    width: 92%;
    margin: 0 auto;
    margin-top: -48px;
}
.hb_top{
    width: 100%;
    height: 125px;
    background: url("../images/hb_top.png") no-repeat center center;
    background-size: 100%;
}
.hb_body{
    width: 100%;
    height: 365px;
    background: url("../images/hb_bottom.png") repeat-y center center;
    background-size: 100%;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}
.bg{
    position: absolute;
    top:-80px;
    left: 0;
    width: 100%;
    height: 264px;
    background: url("../images/main_bg1.png") no-repeat center center;
    background-size: 100% 264px;
    z-index: 100;
}
.m_body{
    width: 100%;
    position: absolute;
    top:120px;
    left:0;
    z-index: 999;
}
.m_body ul{
    position: relative;
    width: 77%;
    margin: 0 auto;
}
.m_body ul li{
    position: relative;
    margin: 15px 0;
    height: 44px;
    list-style: none;
    background: #ffffff;
    border-radius: 25px;
}
.m_body ul li .input_box{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    height: 20px;
}
.m_body ul li input[type="text"]{
    color:#fed5d3;
}
.m_body ul li:first-child{
    width: 60%;
}
.m_body ul li:first-child input{
    width: 110px;
}
.m_body ul li:nth-child(2){
    position: absolute;
    width: 35%;
    top: 0;
    right: 0;
    margin: 0;
    background: none;
    border-radius: 0;
}
.m_body ul li:nth-child(5) .input_box{
    width: 65%;
}
.m_body ul li:nth-child(5) input{
    width: 70%;
}
.m_body ul li:nth-child(5) button{
    position: absolute;
    top:-12px;
    right: -93px;
    width: 50%;
    color:#e63d36;
    height: 44px;
    background: #fad945;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
    border: 0;
    float: right;
    font-size: 12px;
}
.m_body ul li:nth-child(5) button[disabled='disabled']{
    background: #fceeb0;
}
.m_body ul li:nth-child(6),.m_body ul li:nth-child(7),.m_body ul li:last-child {
    margin: 0;
    background: none;
    border-radius: 0;
    height: auto;
}
.m_body ul li:nth-child(7){
    margin: 10px 0;
}
.m_body ul li input[type="checkbox"]{
    float: left;
    width: 0;
    height: 0;
}
.is_agree{
    width: 14px;
    height: 14px;
    float: left;
    margin-left: 15px;
    margin-right: 8px;
    background: url("../images/checked.png") no-repeat center center;
    background-size: 100%;
}
.is_agree.active{
    background: url("../images/nochecked.png") no-repeat center center;
}
.is_apply{
    width: 14px;
    height: 14px;
    float: left;
    margin-left: 15px;
    margin-right: 8px;
    background: url("../images/nochecked.png") no-repeat center center;
    background-size: 100%;
}
.is_apply.active{
    background: url("../images/checked.png") no-repeat center center;
    background-size: 100%;
}
.submit{
    width: 100%;
    height: 53px;
    border: none;
    background: #fed10a;
    border-radius: 25px;
    font-size: 20px;
    color:#e63d36;
    font-weight: bold;
    outline: none;
    box-shadow:1px 3px 3px 0px #e57201;
}
.xieyi,.gift{
    font-size: 12px;
    color:#fff;
}
.xieyi span{
    color:#fed10a;
}
.sex_box{
    position: relative;
    width: 100%;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.sex_box .sex_nan,.sex_box .sex_nv{
    position: absolute;
    top:50%;
    height: 20px;
    float: left;
}
.sex_box .sex_nan{
    left: 0;
    transform: translate(0,-50%);
}
.sex_box .sex_nv{
    right: 0;
    transform: translate(0,-50%);
}
.sex_box input[type='radio']{
    width: 0;
    height: 0;
}
.is_checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: url("../images/radio_no.png") no-repeat center center;
    background-size: 100%;
}
.is_checkbox.active{
    float: left;
    width: 20px;
    height: 20px;
    background: url("../images/radio_checked.png") no-repeat center center;
    background-size: 100%;
}
.sex_box span{

    display: inline-block;
    line-height: 20px;
    color:#fff;
}
.m_body ul li .icon{
    width: 38px;
    height: 18px;
    border-right: 1px solid #e63d36;
    float:left;
    text-align: center;
}
.m_body ul li .icon img{
    display: inline-block;
    width: 18px;
}
.m_body ul li input[type='text']{
    border: none;
    float: left;
    height: 20px;
    outline: none;
    padding-left: 8px;
    background: #fff;
}
.step_1 input::-webkit-input-placeholder {
    color:#fed5d3;
}
.tip,.path,.list{
    width: 100%;
    margin: 0 auto;
    padding: 13px 0;
    background: #f4d133;
    border-radius: 15px;
    margin-top: 13px;
}
.tip_title h2,.path_title h2,.list_title h2{
    position: relative;
    width: 122px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color:#e63d36;
    font-weight: 700;
}
.tip_title h2:after,.list_title h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 69%;
    height: 6px;
    background:rgba(251,164,79,0.5);
    transform: translate(-50%,0);
}
.path_title h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 73%;
    height: 6px;
    background:rgba(251,164,79,0.5);
    transform: translate(-50%,0);
}
.tip_title h2 span,.path_title h2 span,.list_title h2 span{
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top:50%;
    transform: translate(0,-50%);
    background: #e63d36;

}
.tip_title h2 span:first-child,.path_title h2 span:first-child,.list_title h2 span:first-child{
    left:0;
}
.tip_title h2 span:last-child,.path_title h2 span:last-child,.list_title h2 span:last-child{
    right:0;
}
.tip p{
    padding:0 18px;
    margin-top: 5px;
    font-size: 12px;
    color:#e63d36;
}
.item_box,.list_box{
    width: 100%;
    overflow: hidden;
}
.item_box .item_body,.list_box .list_body{
    width: 92%;
    margin: 0 auto;
}
.path ul,.list ul{
    margin-top: 14px;
    font-size: 12px;
    color:#e63d36;
    overflow: hidden;
}
.path ul li,.list ul li{
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;

}
.item_pic{
    width: 100%;
}
.item_pic img{
    display: inline-block;
    width: 61px;
    height: auto;
}
.list ul li img{
    display: inline-block;
    width: 68px;
    height: auto;
}
.footer{
    width: 100%;
    margin-top: 10px;
}
.footer p{
    text-align: center;
    line-height: 20px;
    padding:5px 0;
    font-size: 12px;
    color: #bfcffb;
}
.step_2{
    display: none;
    padding-bottom: 21px;
}
.main_2{
    width: 92%;
    margin: 0 auto;
}
.info{
    padding:17px 0 8px 0;
}
.info_title h2{
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #fedc39;
    font-weight: 700;
}
.info_title h2 span {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    background: #fedc39;
}
.info_title h2 span:first-child {
    left: 0;
}
.info_title h2 span:last-child {
    right: 0;
}
.info_title h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 84%;
    height: 10px;
    background: rgba(28, 84, 197, 0.5);
    transform: translate(-50%, 0);
    z-index:-1;
}
.m2_body{
    width: 100%;
    text-align: center;
}
.shadow_2,.shadow_3{
    width: 95%;
    height: 6px;
    margin: 0 auto;
    background: rgba(255,234,252,.7);
 }
.shadow_1,.shadow_4{
    background: rgba(255,234,252,.5);
    width: 90%;
    height: 6px;
    margin: 0 auto;
}
.m2_content{
    width:100%;
    box-sizing: border-box;
    background: #fff;
}
.m2_content ul li{
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 16px 10px;
    border-bottom: 1px solid #ebf1fd;
}
.m2_content ul li.button_box{
    padding: 10px;
}
.m2_content ul li.border_bottom{
    box-shadow:0 1px 1px 0 #bebfc3;
}
.m2_content ul li.br_shadow{
    padding: 0 10px;
    height: 10px;
    background: rgba(235,241,253,0.7);
}
.m2_content ul li.hide{
    display: none;
}
.m2_content ul li .m2_left{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    color:#565758;
    font-size: 12px;
}
.m2_content ul li .m2_right{
    position: relative;
    font-size: 12px;
    float: right;
}
.m2_content ul li .m2_right input[type='text']{
    border: none;
    outline: none;
    text-align: right;
    padding-right: 21px;
}
.step_2 input::-webkit-input-placeholder {
    color:#cbcbcb;
}
.m2_right .down{
    width: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.m2_right .down_idcard{
    display: none;
}
.radio_box,.radio_box_2{
    float: left;
}
.radio_box label{
    display: inline-block;
    padding: 6px 19px;
    color: #565758;
    text-align: center;
    background: #c2c2c3;
    border-radius: 6px;
}
.radio_box_2 label{
    display: inline-block;
    padding: 6px 25px;
    color: #565758;
    text-align: center;
    background: #c2c2c3;
    border-radius: 6px;
}
.radio_box input[type='radio']:checked +label,.radio_box_2 input[type='radio']:checked +label{
    background: #396bd0;
    color: #fff;
}
.m2_right .radio_box:first-child label,.m2_right .radio_box_2:first-child label{
    margin-right: 10px;
}
.m2_right input[type="radio"]{
    position: absolute;
    right: 99999px;
}
.submit_2{
    width: 63.5%;
    margin-top: 12px;
    border:none;
    outline: none;
    padding: 15px 0;
    text-align: center;
    background: #ffd300;
    border-radius: 25px;
    font-size: 20px;
    color: #e63d36;
    font-weight: 700;
    box-shadow:1px 3px 3px 0 #e77200
}
.money_box,.job_box{
    position: fixed;
    width: 95%;
    left: 50%;
    bottom: 2px;
    display: none;
    transform: translate(-50%,0);
    padding: 10px 10px 0 10px;
    z-index: 9999;

}
.money_box ul,.job_box ul{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}
.money_box ul li,.job_box ul li{
    padding: 0;
    text-align: center;
    text-shadow: none;
    font-weight: normal;
    border: none;
    color: #157dfb;
    background-color: white;
    cursor: pointer;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #e7e8e9;
}
.sel_cencal{
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: #157dfb;
    background-color: white;
    cursor: pointer;
    line-height: 40px;
    font-size: 16px;
    border:none;
    border-bottom: 1px solid #e7e8e9;
    border-radius: 5px;
    outline: none;
}
.mask{
    position: absolute;
    top:0;
    left: 0;
    display: none;
    width: 100%;
    background: rgba(0,0,0,.3);
    z-index: 9998;
}
.success{
    position: absolute;
    display: none;
    top:50%;
    left: 50%;
    transform: translate(-50%,0);
    width: 70%;
    height: 209px;
    background: #f4f2f0;
    z-index: 999999;
    border-radius: 15px;
}
.success_pic{
    position: absolute;
    width: 66%;
    top:-40%;
    left:50%;
    transform: translate(-50%,0);

}
.success_tip{
    text-align: center;
    color:#ff7701;
    font-size: 14px;
    margin-top: 45%;
}
.success_f{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 37px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #ffffff;
}
.success_f .success_f_box{
    position: relative;
    width: 58%;
    margin: 0 auto;
}
.success_f .success_f_box img{
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(0,-50%);
    width: 12px;
}
.success_f .success_f_box p{
    font-size: 12px;
    color:#656667;
    line-height: 37px;
    margin-left: 15px;
}
@media (max-width: 414px) {
    .m_body ul li:nth-child(5) button{
        right: -103px;
    }
    .container {
        background: url(../images/main_bg2.png) no-repeat center 350px;
        background-size: 100%;
    }
}
@media (max-width: 375px) {
    .container {
        background: url(../images/main_bg2.png) no-repeat center bottom;
        background-size: 100%;
    }
}
@media (max-width: 360px) {
    .container {
        background: url(../images/main_bg2.png) no-repeat center 368px;
        background-size: 100%;
    }
    .m_body ul{
        width: 80%;
    }
    .is_agree,.is_apply{
        margin-left: 10px;
    }
}
@media (max-width: 320px) {
    .main{
        width: 94%;
    }
    .hb_top{
        height: 110px;
    }
    .m_body ul{
        width: 84%;
    }
    .m_body ul li{
        height: 40px;
    }
    .m_body ul li:first-child input{
        width: 103px;
    }
    .sex_box{
        height: 40px;
    }
    .is_agree,.is_apply{
        margin-left: 5px;
        margin-right: 5px;
    }
    .bg{
        top:-88px;
        background-size: 98% 264px;
    }
    .container{
        background-position: center 366px;
    }
    .m_body ul li:nth-child(5) button{
        height: 40px;
        top: -10px;
        right: -88px;
    }
}
/*弹出层*/
body .layui-m-layer .layui-m-layer-msg {
    top:0px;
}
/*地区选择插件样式修改*/
.mbsc-android-holo .mbsc-sc-lbl {
    font-size: .95em!important;
    line-height: 1em!important;
}

